.destination-form{
    margin-top: 100px;
    margin-left: 100px;
    padding: 10px;
    border: 1px solid black;
    width: 300px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
}


.destination-input-field{
    color: black;
    display: block;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    width: 90%;
}
.destination-input-field:focus{
    outline: none;
}
.orange{
    background-color: orangered;
    width: 90%;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    margin: 5px;
    
}
.available-car{
    border: 1px solid black;
}
.map{
    margin-right: 100px;
}