.header{
    border: 2px solid white;

}
.header-title{
    padding: 10px;
    display: flex;
    
}


.header-nav{
    list-style: none;
    display: flex;
    padding: 10px;
    justify-content: flex-end;
}
.header-nav li{
    padding: 20px;
    font-weight: bold;
    font-style: 25px;

}
.nav-link{
    text-decoration: none;
    color: black;
}
